In [1]:
import pandas
# pandas is used to acquire data, prepare data and help data understanding
import sklearn
# sklearn is used to create ML models, train, test/evaluate/deploy/
data = pandas.read_csv("http://modcom.co.ke/datasets/Advertising.csv")
print(data)

      No     TV  Radio  Newspaper  Sales
0      1  230.1   37.8       69.2   22.1
1      2   44.5   39.3       45.1   10.4
2      3   17.2   45.9       69.3    9.3
3      4  151.5   41.3       58.5   18.5
4      5  180.8   10.8       58.4   12.9
5      6    8.7   48.9       75.0    7.2
6      7   57.5   32.8       23.5   11.8
7      8  120.2   19.6       11.6   13.2
8      9    8.6    2.1        1.0    4.8
9     10  199.8    2.6       21.2   10.6
10    11   66.1    5.8       24.2    8.6
11    12  214.7   24.0        4.0   17.4
12    13   23.8   35.1       65.9    9.2
13    14   97.5    7.6        7.2    9.7
14    15  204.1   32.9       46.0   19.0
15    16  195.4   47.7       52.9   22.4
16    17   67.8   36.6      114.0   12.5
17    18  281.4   39.6       55.8   24.4
18    19   69.2   20.5       18.3   11.3
19    20  147.3   23.9       19.1   14.6
20    21  218.4   27.7       53.4   18.0
21    22  237.4    5.1       23.5   12.5
22    23   13.2   15.9       49.6    5.6
23    24  228.3   16.9       26.2   15.5
24    25   62.3   12.6       18.3    9.7
25    26  262.9    3.5       19.5   12.0
26    27  142.9   29.3       12.6   15.0
27    28  240.1   16.7       22.9   15.9
28    29  248.8   27.1       22.9   18.9
29    30   70.6   16.0       40.8   10.5
..   ...    ...    ...        ...    ...
170  171   50.0   11.6       18.4    8.4
171  172  164.5   20.9       47.4   14.5
172  173   19.6   20.1       17.0    7.6
173  174  168.4    7.1       12.8   11.7
174  175  222.4    3.4       13.1   11.5
175  176  276.9   48.9       41.8   27.0
176  177  248.4   30.2       20.3   20.2
177  178  170.2    7.8       35.2   11.7
178  179  276.7    2.3       23.7   11.8
179  180  165.6   10.0       17.6   12.6
180  181  156.6    2.6        8.3   10.5
181  182  218.5    5.4       27.4   12.2
182  183   56.2    5.7       29.7    8.7
183  184  287.6   43.0       71.8   26.2
184  185  253.8   21.3       30.0   17.6
185  186  205.0   45.1       19.6   22.6
186  187  139.5    2.1       26.6   10.3
187  188  191.1   28.7       18.2   17.3
188  189  286.0   13.9        3.7   15.9
189  190   18.7   12.1       23.4    6.7
190  191   39.5   41.1        5.8   10.8
191  192   75.5   10.8        6.0    9.9
192  193   17.2    4.1       31.6    5.9
193  194  166.8   42.0        3.6   19.6
194  195  149.7   35.6        6.0   17.3
195  196   38.2    3.7       13.8    7.6
196  197   94.2    4.9        8.1    9.7
197  198  177.0    9.3        6.4   12.8
198  199  283.6   42.0       66.2   25.5
199  200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [2]:
print(data.describe())
# gives you descriptive stats

               No          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [3]:
print(data.corr())
# check relationship between variable.
# Pos - 0....1
# 0 - no correlation/no relationship
# Neg - 0 .... -1

                 No        TV     Radio  Newspaper     Sales
No         1.000000  0.017715 -0.110680  -0.154944 -0.051616
TV         0.017715  1.000000  0.054809   0.056648  0.782224
Radio     -0.110680  0.054809  1.000000   0.354104  0.576223
Newspaper -0.154944  0.056648  0.354104   1.000000  0.228299
Sales     -0.051616  0.782224  0.576223   0.228299  1.000000

In [4]:
print(data.isnull().sum())
# we sum all the empties by colmns

No           0
TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [6]:
# incase there was empties..you drop them
data.dropna(inplace=True)

In [28]:
# What are we predicting? Why are we predicting it?  Why use sales? 
# model that can help in predicting Sales, Given other expenses features(TV, Radio, Newspaper).
# features/input X - TV, Radio, Newspaper
# outcomeY - Sales
array = data.values

# Split to X,Y
X = array[:, 1:4] # 1..3, 4 is not here, there is a minus 1
Y = array[:, 4]   # 4 is here


from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X, Y)


# We test the model using data
# create different pipelines

# skip test
predictions = model.predict([[0,500,0]])  # 350 USD
print(predictions)

[97.20389783]

In [30]:
import pandas
# pandas is used to acquire data, prepare data and help data understanding
import sklearn
# sklearn is used to create ML models, train, test/evaluate/deploy/
data2 = pandas.read_csv("http://modcom.co.ke/datasets/Customers.csv")
print(data2)

                                               Address            Avatar  \
0         835 Frank Tunnel\nWrightmouth, MI 82180-9605            Violet
1       4547 Archer Common\nDiazchester, CA 06566-8576         DarkGreen
2    24645 Valerie Unions Suite 582\nCobbborough, D...            Bisque
3     1414 David Throughway\nPort Jason, OH 22070-1220       SaddleBrown
4    14023 Rodriguez Passage\nPort Jacobville, PR 3...  MediumAquaMarine
5    645 Martha Park Apt. 611\nJeffreychester, MN 6...       FloralWhite
6    68388 Reyes Lights Suite 692\nJosephbury, WV 9...     DarkSlateBlue
7                Unit 6538 Box 8980\nDPO AP 09026-4941              Aqua
8               860 Lee Key\nWest Debra, SD 97450-0495            Salmon
9                PSC 2734, Box 5255\nAPO AA 98456-7482             Brown
10   26104 Alexander Groves\nAlexandriaport, WY 282...            Tomato
11               Unit 2413 Box 0347\nDPO AA 07580-2652            Tomato
12   6705 Miller Orchard Suite 186\nLake Shanestad,...         RoyalBlue
13    05302 Dunlap Ferry\nNew Stephaniehaven, MP 42268            Bisque
14   7773 Powell Springs Suite 190\nSamanthaland, N...          DarkBlue
15   49558 Ramirez Road Suite 399\nPhillipstad, OH ...              Peru
16         6362 Wilson Mountain\nJohnsonfurt, GA 15169        PowderBlue
17                8982 Burton Row\nWilsonton, PW 88606         OliveDrab
18   64475 Andre Club Apt. 795\nPort Dannytown, PW ...              Cyan
19   544 Alexander Heights Suite 768\nNorth Johnvie...     LightSeaGreen
20           84426 Julia Vista\nNorth Teresa, KY 50756         PeachPuff
21               PSC 2490, Box 2120\nAPO AE 15445-2876             Black
22                    PSC 5723, Box 8159\nAPO AA 74738             Olive
23                    USNS Cardenas\nFPO AA 85439-9449            Silver
24   019 Elliott Tunnel Suite 190\nNicholsbury, WV ...             Wheat
25   9495 Mary Fall Apt. 777\nGlassport, ND 17957-5596              Teal
26   657 Judith Crossroad\nHancockchester, VI 75658...             Linen
27   8522 Regina Port Suite 782\nPort Kaitlin, TX 5...   MediumSlateBlue
28       40000 Ann Port Suite 474\nYoungberg, MS 03651      LemonChiffon
29   9507 Robert Prairie Apt. 601\nEast Crystalview...        DarkOrchid
..                                                 ...               ...
470         272 Frederick Lodge\nEast Andrew, FL 07414         SlateGray
471              9985 Wolf Pass\nBrandimouth, CA 63346            Bisque
472              PSC 1790, Box 8872\nAPO AE 01821-4769            Orange
473  4502 Jennifer Prairie Suite 029\nLake Jesse, L...           DimGray
474  4307 Nicholas Drive Apt. 259\nRamirezberg, AS ...        MediumBlue
475     5855 Gross Burgs Suite 169\nBallland, AS 98525      AntiqueWhite
476  80500 Mary Corners Apt. 225\nWallsville, ME 80526             Beige
477    344 Jessica Stravenue\nNew Brian, MA 04730-6761             Beige
478  85181 Christian Courts Suite 758\nLarryfurt, M...         PeachPuff
479           543 Reynolds Burg\nMelindaberg, KY 46631         LightPink
480         549 Anna Avenue\nPort Laura, CA 76209-9339        WhiteSmoke
481  214 Obrien Lakes Suite 572\nSouth Jeremy, KS 5...      MediumOrchid
482          5661 Grant Centers\nStevensfurt, CT 53959             Olive
483  768 Riley Pine Apt. 624\nKellymouth, OK 98992-...         MistyRose
484  503 Adams Pines Apt. 638\nNorth Ashleyside, AZ...           DarkRed
485  07813 Randy Point\nLake Thomasberg, MO 06013-9920              Pink
486  38678 Sean Drive Suite 293\nKarentown, IA 7830...          DarkGray
487    6820 Erica Vista Apt. 418\nBrightside, IA 50639            Orchid
488  9909 Hoffman Ranch Suite 195\nScotthaven, SC 5...         PeachPuff
489  513 Moore Crescent Apt. 416\nAmandaberg, GU 03...           Magenta
490    7446 Mary Ferry\nLake Sherryfurt, GA 49066-0207        GhostWhite
491  64147 Alexander Station Apt. 474\nEast Jasonvi...          SeaShell
492   70128 Zimmerman Overpass\nRobertsshire, VA 59860          DarkBlue
493  01242 Stephanie Ways Suite 003\nChurchville, M...    MediumSeaGreen
494    354 Sanchez Wall Suite 884\nJuliabury, VI 39735     DarkTurquoise
495  4483 Jones Motorway Suite 872\nLake Jamiefurt,...               Tan
496  172 Owen Divide Suite 497\nWest Richard, CA 19320     PaleVioletRed
497  0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...          Cornsilk
498  680 Jennifer Lodge Apt. 808\nBrendachester, TX...              Teal
499  49791 Rachel Heights Apt. 898\nEast Drewboroug...       DarkMagenta

     Avg. Session Length  Time on App  Time on Website  Length of Membership  \
0              34.497268    12.655651        39.577668              4.082621
1              31.926272    11.109461        37.268959              2.664034
2              33.000915    11.330278        37.110597              4.104543
3              34.305557    13.717514        36.721283              3.120179
4              33.330673    12.795189        37.536653              4.446308
5              33.871038    12.026925        34.476878              5.493507
6              32.021596    11.366348        36.683776              4.685017
7              32.739143    12.351959        37.373359              4.434273
8              33.987773    13.386235        37.534497              3.273434
9              31.936549    11.814128        37.145168              3.202806
10             33.992573    13.338975        37.225806              2.482608
11             33.879361    11.584783        37.087926              3.713209
12             29.532429    10.961298        37.420216              4.046423
13             33.190334    12.959226        36.144667              3.918542
14             32.387976    13.148726        36.619957              2.494544
15             30.737720    12.636606        36.213763              3.357847
16             32.125387    11.733862        34.894093              3.136133
17             32.338899    12.013195        38.385137              2.420806
18             32.187812    14.715388        38.244115              1.516576
19             32.617856    13.989593        37.190504              4.064549
20             32.912785    11.365492        37.607793              4.599937
21             33.503087    12.877984        37.441021              1.559152
22             31.531604    13.378563        38.734006              2.245148
23             32.903251    11.657576        36.772604              3.919302
24             34.507551    12.893670        37.635756              5.705154
25             33.029332    11.765813        37.738525              2.721736
26             33.541231    12.783892        36.430650              4.648199
27             32.335990    13.007819        37.851779              2.996365
28             33.110205    11.982045        35.293088              3.923489
29             33.105438    11.965020        37.277812              4.742578
..                   ...          ...              ...                   ...
470            32.518197    11.509253        36.599289              3.022676
471            34.523020    11.405770        36.378271              4.041245
472            33.665990    12.263718        38.860234              3.139527
473            31.609840    12.710701        36.166463              2.562819
474            33.700886    13.471578        37.071643              2.379076
475            33.811733    11.186809        36.298893              4.301996
476            34.336677    11.246813        38.682584              2.094762
477            31.061325    12.357638        36.166042              4.089331
478            33.069768    11.764326        36.875026              3.516051
479            34.606242    11.761884        38.126520              1.820811
480            34.238242    11.550300        35.769330              4.183144
481            32.047815    12.482670        35.536025              3.393903
482            30.971676    11.731364        36.074551              4.426364
483            33.606851    12.214074        37.198428              2.905238
484            33.448125    11.903757        36.874544              2.782758
485            33.369381    12.222484        36.355235              3.447018
486            33.452295    12.005916        36.534096              4.712234
487            32.904692    11.913745        36.058648              1.228112
488            35.630854    12.125402        38.187764              4.019051
489            32.246350    11.305551        37.133127              1.707390
490            34.695591    11.608997        37.684877              3.163092
491            34.343922    11.693058        36.812934              3.447093
492            33.680937    11.201570        37.835448              2.208814
493            32.060914    12.625433        35.539142              5.412358
494            33.431097    13.350632        37.965972              2.768852
495            33.237660    13.566160        36.417985              3.746573
496            34.702529    11.695736        37.190268              3.576526
497            32.646777    11.499409        38.332576              4.958264
498            33.322501    12.391423        36.840086              2.336485
499            33.715981    12.418808        35.771016              2.735160

     Yearly Amount Spent
0             587.951054
1             392.204933
2             487.547505
3             581.852344
4             599.406092
5             637.102448
6             521.572175
7             549.904146
8             570.200409
9             427.199385
10            492.606013
11            522.337405
12            408.640351
13            573.415867
14            470.452733
15            461.780742
16            457.847696
17            407.704548
18            452.315675
19            605.061039
20            534.705744
21            419.938775
22            436.515606
23            519.340989
24            700.917092
25            423.179992
26            619.895640
27            486.838935
28            529.537665
29            554.722084
..                   ...
470           424.728774
471           541.049831
472           469.383146
473           444.545550
474           492.556834
475           535.321610
476           408.958336
477           487.555458
478           487.646232
479           402.167122
480           551.023002
481           497.389558
482           494.638610
483           479.247417
484           462.656519
485           515.502480
486           576.477607
487           357.857984
488           597.739879
489           327.377953
490           510.401388
491           510.501478
492           403.819520
493           627.603319
494           510.661792
495           573.847438
496           529.049004
497           551.620145
498           456.469510
499           497.778642

[500 rows x 7 columns]

In [31]:
print(data2.describe())

       Avg. Session Length  Time on App  Time on Website  \
count           500.000000   500.000000       500.000000
mean             33.053194    12.052488        37.060445
std               0.992563     0.994216         1.010489
min              29.532429     8.508152        33.913847
25%              32.341822    11.388153        36.349257
50%              33.082008    11.983231        37.069367
75%              33.711985    12.753850        37.716432
max              36.139662    15.126994        40.005182

       Length of Membership  Yearly Amount Spent
count            500.000000           500.000000
mean               3.533462           499.314038
std                0.999278            79.314782
min                0.269901           256.670582
25%                2.930450           445.038277
50%                3.533975           498.887875
75%                4.126502           549.313828
max                6.922689           765.518462

In [32]:
print(data2.corr())

                      Avg. Session Length  Time on App  Time on Website  \
Avg. Session Length              1.000000    -0.027826        -0.034987
Time on App                     -0.027826     1.000000         0.082388
Time on Website                 -0.034987     0.082388         1.000000
Length of Membership             0.060247     0.029143        -0.047582
Yearly Amount Spent              0.355088     0.499328        -0.002641

                      Length of Membership  Yearly Amount Spent
Avg. Session Length               0.060247             0.355088
Time on App                       0.029143             0.499328
Time on Website                  -0.047582            -0.002641
Length of Membership              1.000000             0.809084
Yearly Amount Spent               0.809084             1.000000